<ul class="navbar">
    <li>
        <a href="">Home</a>
    </li>
    <li>
        {% if student_or_teacher %}
            {% if student_or_teacher == 'student' %}
                <a href="{%url 'student:practice_entry' %}">Practice</a>
                <a href="{% url 'student:practice_history' %}">History</a>
            {% endif %}
        {% endif %}
        {% if request.user.is_authenticated %}
        <a href="{% url 'base:logout' %}">Logout</a>
        {% else %}
        <a href="{% url 'base:login' %}">Login</a>
        {% endif %}
    </li>
</ul>